.text-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    height: 20%;
}

.post-subtitle {
    color: lightgrey;
    font-weight: 500;
}

.form-control {
    width: 60%;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, .65);
}

.form-group {
    margin-left: 30%;
}
